<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Artist Ranker</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="banner">
        <a href="/" title="Go Home">🏠</a>
        <h1>🎶 8Artists 🎶</h1>
    </div>

    <div class="content">
        <h2>Search for artists and add them to your list.</h2>
        <br>
        <input type="submit" value="Save and Exit">
        <br><br>
    </div>

    <div class="flex-container">

        <div id="search-pane" class="flex-child">
            <input type="text" placeholder="🔍 Search for Artists">
            <input type="submit" value="Search" style="padding: .5rem; border-radius: .5rem;">

            <div id="results-pane">
                <hr>
                <h3>Top Results</h3>
                <hr>
                <ol type="1">
                    <li>
                        <div class="list-item">
                            <div class="artist-photo">
                                <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="100"
                                    height="100">
                            </div>
                            <div class="artist-info">
                                <h4>John Smith</h4>
                                <h5>50788516662 Monthly Listeners</h5>
                                <h5><a href="spotify">View on Spotify</a></h5>
                                <button>Add to List</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <div class="artist-photo">
                                <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="100"
                                    height="100">
                            </div>
                            <div class="artist-info">
                                <h4>John Smith</h4>
                                <h5>50788516662 Monthly Listeners</h5>
                                <h5><a href="spotify">View on Spotify</a></h5>
                                <button>Add to List</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <div class="artist-photo">
                                <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="100"
                                    height="100">
                            </div>
                            <div class="artist-info">
                                <h4>John Smith</h4>
                                <h5>50788516662 Monthly Listeners</h5>
                                <h5><a href="spotify">View on Spotify</a></h5>
                                <button>Add to List</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <div class="artist-photo">
                                <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="100"
                                    height="100">
                            </div>
                            <div class="artist-info">
                                <h4>John Smith</h4>
                                <h5>50788516662 Monthly Listeners</h5>
                                <h5><a href="spotify">View on Spotify</a></h5>
                                <button>Add to List</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list-item">
                            <div class="artist-photo">
                                <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="100"
                                    height="100">
                            </div>
                            <div class="artist-info">
                                <h4>John Smith</h4>
                                <h5>50788516662 Monthly Listeners</h5>
                                <h5><a href="spotify">View on Spotify</a></h5>
                                <button>Add to List</button>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>

        </div>

        <div id="list-pane" class="flex-child">
            <hr>
            <h3>Your Rankings</h3>
            <hr>
            <ol type="1">
                <li>
                    <div class="list-item">
                        <div class="artist-rank">1</div>
                        <div class="artist-photo">
                            <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="70"
                                height="70">
                                <button>Move Up</button>
                                <button>Move Down</button>
                        </div>
                        <div class="artist-info">
                            <h4>John Smith</h4>
                            <h5>50788516662 Monthly Listeners</h5>
                            <h5><a href="spotify">View on Spotify</a></h5>
                            <button>Remove from List</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="list-item">
                        <div class="artist-rank">2</div>
                        <div class="artist-photo">
                            <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="70"
                                height="70">
                                <button>Move Up</button>
                                <button>Move Down</button>
                        </div>
                        <div class="artist-info">
                            <h4>John Smith</h4>
                            <h5>50788516662 Monthly Listeners</h5>
                            <h5><a href="spotify">View on Spotify</a></h5>
                            <button>Remove from List</button>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="artist-rank">3</div>
                        <div class="artist-photo">
                            <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="70"
                                height="70">
                                <button>Move Up</button>
                                <button>Move Down</button>
                        </div>
                        <div class="artist-info">
                            <h4>John Smith</h4>
                            <h5>50788516662 Monthly Listeners</h5>
                            <h5><a href="spotify">View on Spotify</a></h5>
                            <button>Remove from List</button>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="artist-rank">4</div>
                        <div class="artist-photo">
                            <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="70"
                                height="70">
                                <button>Move Up</button>
                                <button>Move Down</button>
                        </div>
                        <div class="artist-info">
                            <h4>John Smith</h4>
                            <h5>50788516662 Monthly Listeners</h5>
                            <h5><a href="spotify">View on Spotify</a></h5>
                            <button>Remove from List</button>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="artist-rank">5</div>
                        <div class="artist-photo">
                            <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="70"
                                height="70">
                                <button>Move Up</button>
                                <button>Move Down</button>
                        </div>
                        <div class="artist-info">
                            <h4>John Smith</h4>
                            <h5>50788516662 Monthly Listeners</h5>
                            <h5><a href="spotify">View on Spotify</a></h5>
                            <button>Remove from List</button>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="artist-rank">6</div>
                        <div class="artist-photo">
                            <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="70"
                                height="70">
                                <button>Move Up</button>
                                <button>Move Down</button>
                        </div>
                        <div class="artist-info">
                            <h4>John Smith</h4>
                            <h5>50788516662 Monthly Listeners</h5>
                            <h5><a href="spotify">View on Spotify</a></h5>
                            <button>Remove from List</button>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="artist-rank">7</div>
                        <div class="artist-photo">
                            <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="70"
                                height="70">
                                <button>Move Up</button>
                                <button>Move Down</button>
                        </div>
                        <div class="artist-info">
                            <h4>John Smith</h4>
                            <h5>50788516662 Monthly Listeners</h5>
                            <h5><a href="spotify">View on Spotify</a></h5>
                            <button>Remove from List</button>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="artist-rank">8</div>
                        <div class="artist-photo">
                            <img alt="Artist profile picture" src="../Default_avatar_profile.jpg" width="70"
                                height="70">
                                <button>Move Up</button>
                                <button>Move Down</button>
                        </div>
                        <div class="artist-info">
                            <h4>John Smith</h4>
                            <h5>50788516662 Monthly Listeners</h5>
                            <h5><a href="spotify">View on Spotify</a></h5>
                            <button>Remove from List</button>
                        </div>
                    </div>
                </li>
            </ol>
        </div>

    </div>

</body>

</html>