<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>8Artists</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="banner">
        <a href="/home" title="Go Home">🏠</a>
        <h1>🎶 8Artists 🎶</h1>
        <p>Made by Eamon Weingold</p>
    </div>

    <div class="content">
        <h2>Hello <%- username %>! Search for artists and add them to your list.</h2>
        <br>
        <input type="submit" onclick="saveAndExit()" value="Save and Exit">
        <br><br>
    </div>

    <script>
        window.onload = main;

        let rankings = [];
        let searchResults;

        function refreshList() {
            let listDisplay = document.querySelector("#list-pane ol");
            listDisplay.innerHTML = "";

            for (const [i, a] of rankings.entries()) {
                listDisplay.innerHTML += `
                <li>
                    <div class="list-item">
                        <div class="artist-rank">${i + 1}</div>
                        <div class="artist-photo">
                            <img alt="Artist profile picture" src="${a.photoURL}" width="70"
                                height="70">
                            <button onclick="shiftUp(${i})">Move Up</button>
                            <button onclick="shiftDown(${i})">Move Down</button>
                        </div>
                        <div class="artist-info">
                            <h4>${a.name}</h4>
                            <h5>${a.monthlyListeners} Monthly Listeners</h5>
                            <h5><a href="${a.spotifyLink}" target=”_blank”>View on Spotify</a></h5>
                            <button onclick="removeFromList(${i})">Remove from List</button>
                        </div>
                    </div>
                </li>
                `;
            };
        }

        function addToList(i) {
            let artist = searchResults.artists[i];
            if (rankings.length >= 8) {
                alert("Your list is already full. You need to remove an artist on your list first.")
            }
            else {
                rankings.push(artist);
            }

            refreshList();
        }

        function removeFromList(i) {
            rankings.splice(i, 1);

            refreshList();
        }

        function shiftUp(i) {
            if (i > 0) {
                [rankings[i], rankings[i - 1]] = [rankings[i - 1], rankings[i]];

                refreshList();
            }
        }
        function shiftDown(i) {
            if (i < rankings.length - 1) {
                [rankings[i], rankings[i + 1]] = [rankings[i + 1], rankings[i]];

                refreshList();
            }
        }

        async function getSearchResults() {
            let resultsDisplay = document.querySelector("#results-pane ol");
            resultsDisplay.innerHTML = "Loading Results...";

            let response = await fetch("/ranker/search?artistName=" + document.getElementById("searchBar").value);
            let data = await response.json();

            searchResults = data;
            resultsDisplay.innerHTML = "";
            for (const [i, a] of data.artists.entries()) {
                resultsDisplay.innerHTML += `
                <li>
                    <div class="list-item">
                        <div class="artist-photo">
                            <img alt="Artist profile picture" src="${a.photoURL}" width="100"
                                height="100">
                        </div>
                        <div class="artist-info">
                            <h4>${a.name}</h4>
                            <h5>${a.monthlyListeners} Monthly Listeners</h5>
                            <h5><a href="${a.spotifyLink}" target=”_blank”>View on Spotify</a></h5>
                            <button onclick="addToList(${i})">Add to List</button>
                        </div>
                    </div>
                </li>
                `;
            };
        }

        async function saveAndExit() {
            if (confirm("Are you sure you would like to save your rankings?\nIf you have already saved a list, it will be overwritten.")) {
                const form = document.createElement("form");
                form.method = "POST";
                form.action = "/ranker";
                const hiddenField = document.createElement("input");
                hiddenField.name = "rankings";
                hiddenField.value = JSON.stringify(rankings);
                form.appendChild(hiddenField);
                form.style.display = "none";
                document.body.appendChild(form);
                form.submit();
            }
        }

        async function main() {
            document.getElementById("searchBar").addEventListener("keyup", ({ key }) => {
                if (key === "Enter") {
                    getSearchResults();
                }
            })

            let response = await fetch("/ranker/savedList");
            let data = await response.json();
            if (data) {
                if (data.rankings) {
                    rankings = data.rankings;
                    refreshList();
                }
            }
        }
    </script>

    <div class="flex-container">

        <div id="search-pane" class="flex-child">

            <!-- <form action="/ranker/search" method="GET"> -->
            <input type="text" id="searchBar" name="artistName" placeholder="🔍 Search for Artists">
            <input type="submit" value="Search" onclick="getSearchResults()"
                style="padding: .5rem; border-radius: .5rem;">
            <!-- </form> -->

            <div id="results-pane">
                <hr>
                <h3>Top Results</h3>
                <hr>
                <ol type="1">
                </ol>
            </div>

        </div>

        <div id="list-pane" class="flex-child">
            <hr>
            <h3>Your Rankings</h3>
            <hr>
            <ol type="1">
            </ol>
        </div>

    </div>

</body>

</html>